<div class="search-container" id="globalsearch" onclick="toggleSearch()">
    <div class="search-box">
        {%- if lang === "pt" -%}
        <input type="search" id="term" placeholder="Comece digitando algo...">
        {%- else -%}
        <input type="search" id="term" placeholder="Start typing...">
        {%- endif -%}
        <div id="search-results"></div>
        <footer class="search-box-footer">
            <div class="navigation-hint">
                {%- if lang === "pt" -%}
                <span>ENTER para selecionar</span>
                {%- else -%}
                <span>ENTER to select</span>
                {%- endif -%}
            </div>

            <div class="navigation-hint align-icon">
                <i  icon-name="arrow-up" aria-hidden="true"></i>
                <i  icon-name="arrow-down" aria-hidden="true"></i>
                {%- if lang === "pt" -%}
                <span>para navegar</span>
                {%- else -%}
                <span>to navigate</span>
                {%- endif -%}
            </div>

            <div class="navigation-hint">
                {%- if lang === "pt" -%}
                <span>ESC para sair</span>
                {%- else -%}
                <span>ESC to close</span>
                {%- endif -%}
            </div>

        </footer>
    </div>
</div>
{%include "components/searchScript.njk"%}