{%- if "pt" in lang -%}
    {% set language = "pt" %}
{% elif "en" in lang %}
    {% set language = "en" %}
{% endif %}
{%- if page.fileSlug != "Home" and "index" not in permalink -%}
<script src="https://giscus.app/client.js"
        data-repo="zozores/taokaos-vault"
        data-repo-id="R_kgDOLRG3vg"
        data-category="General"
        data-category-id="DIC_kwDOLRG3vs4CdPAW"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="{{ language }}"
        crossorigin="anonymous"
        async>
</script>
{% endif %}